/***************
 *   Borders   *
 ***************/

/* Replicate Xfwm4 window decorations for CSD */
window.csd,
window.solid-csd,
window.background.csd,
window.background.solid-csd,
window.background.dialog.csd,
window.background.dialog.solid-csd {
  padding: 4px;
  background-color: @bg_color;
  border: none;
  box-shadow:
    2px 2px @light_shadow inset,
    -2px -2px @dark_shadow inset,
    1px 1px @bg_color inset,
    -1px -1px @borders inset;
  border-radius: 0;
}
